.category-section .container ul {
    display: flex;
    justify-content: start;
    gap: 24px;
    margin-top: 80px;
}

.category-section figure {
    text-align: center;
}

.category-section figure figcaption {
    margin-top: 8px;
    font-weight: 600;
}