.nav-container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: #1d1d1f;
    font-size: 12px;
}

.top-nav {
    background-color: #e8e8ed;
}

.top-nav .nav-container {
    padding-top: 12px;
    padding-bottom: 12px;
}

.top-nav .nav-container span {
    margin-left: 12px;
    margin-right: 12px;
}

.bottom-nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 80px;
    gap: 44px;
}